<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @itinerary.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @itinerary.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @itinerary.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @itinerary.image %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @itinerary.trip_id %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
