
<!-- 
<p id="notice"><%# notice %></p>
-->



<div class='trips_show'>

<!-- START HEADER -->
<div class="header-1" style="background:linear-gradient(to bottom, rgba(0,1,2,0.4) 0%, rgba(92, 77, 66, 0.8) 100%),  url('<%= asset_path url_for(@trip.asset) %>');background-repeat: no-repeat; background-position: center; background-size: cover !important; height:60vh;box-shadow: 3px 4px 5px #ccc;overflow: hidden;">
<!-- START NAV -->
<nav class="navbar navbar-expand-lg navbar-light  py-3 " id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger bg_pangaeaclub " href="/"></a><button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="navbar-collapse collapse flex-grow-zero" id="navbarResponsive" style="">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0 full-ul">
                        <li class="nav-item"> <%= link_to "الرئسية", root_path, :class => "nav-link  js-scroll-trigger" %></li>
                    <% if current_user.nil? %>
                        <li class="nav-item"><%= link_to "تسجيل", new_user_registration_path, :class => "nav-link  js-scroll-trigger" %></li>
                        <li class="nav-item"><%= link_to "تسجيل الدخول", new_user_session_path, :class => "nav-link  js-scroll-trigger" %></li>
                    <% else %>
                        <li class="nav-item"><%= link_to "تعديل الحساب", edit_user_registration_path		, :class => "nav-link  js-scroll-trigger" %> </li>
                        <li class="nav-item"><%= link_to "خروج", destroy_user_session_path, :class => "nav-link  js-scroll-trigger" , method: :delete%> </li>
                    <%# when the admin sign_in %>
                            <% if current_user.admin %>
                                <li class="nav-item"><%= link_to "Dashboard", '/admin' , :class => "nav-link  js-scroll-trigger" %></li>
                            <% end%>
                    <% end %>
                    </ul>
                </div>
            </div>
</nav>



<!-- END NAV -->


<header class="masthead" style="padding-top:20px;">
            <div class="container h-100 header-flex">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-black font-weight-bold" style="color:white"> <%= @trip.title %></h1>
                        <hr class="divider my-4">
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <h3 class="text-white-75 font-weight-light mb-5" style="color:white">
                        <%= @trip.sub_title %>
                      </h3>
                        
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 my-3 my-md-5 my-lg-0 info-trip-header " style="color:white"><a href="#" class="media text-reset text-decoration-none hover-animate mb-2 mb-md-5 icon-header">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        
<svg id="Layer_1" enable-background="new 0 0 480 480" height="512" viewBox="0 0 480 480" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m453 236.893v-95.393c0-22.056-17.944-40-40-40h-13.558l3.005-10.441c4.894-16.995-4.901-34.71-21.898-39.604l-90.771-26.13c-4.247-1.222-8.679 1.229-9.9 5.475-1.223 4.246 1.229 8.678 5.475 9.901l57.064 16.427c-7.059 13.752-7.317 30.155-.177 44.372h-167.24v-63c0-4.418-3.582-8-8-8s-8 3.582-8 8v63h-27v-63c0-4.418-3.582-8-8-8s-8 3.582-8 8v63h-35v-69c0-8.822 7.178-16 16-16h135c8.822 0 16 7.178 16 16v44c0 4.418 3.582 8 8 8s8-3.582 8-8v-44c0-17.645-14.355-32-32-32h-135c-17.645 0-32 14.355-32 32v69h-25c-22.056 0-40 17.944-40 40v298c0 22.056 17.944 40 40 40h373c22.056 0 40-17.944 40-40v-58.5c0-4.418-3.582-8-8-8s-8 3.582-8 8v58.5c0 13.233-10.767 24-24 24h-373c-13.233 0-24-10.767-24-24v-298c0-13.233 10.767-24 24-24h373c13.233 0 24 10.767 24 24v95h-66c-17.645 0-32 14.355-32 32v44c0 17.645 14.355 32 32 32h77.021c17.568 0 31.979-14.307 31.979-32v-44c0-15.944-11.722-29.199-27-31.607zm-94.77-175.212 17.893 5.151c8.499 2.447 13.394 11.303 10.949 19.801l-4.28 14.867h-21.384c-10.102-11.236-11.038-27.576-3.178-39.819zm105.77 250.819c0 8.822-7.178 16-16 16h-77c-8.822 0-16-7.178-16-16v-44c0-8.822 7.178-16 16-16h77c8.822 0 16 7.178 16 16zm-63-22c0 4.418-3.582 8-8 8h-12c-4.418 0-8-3.582-8-8s3.582-8 8-8h12c4.418 0 8 3.582 8 8z"/></svg>
                      </div>
                      <div class="media-body">
                        <h5>سعر الرحلة</h5>
                        <div class="badge badge-light"><%= @trip.price%> SR</div>
                      </div></a><a href="#" class="media text-reset text-decoration-none hover-animate mb-2 mb-md-5 icon-header ">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#suitcase-1"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="suitcase-1">
                          <title>Suitcase</title>
                          <desc>A line styled icon from Orion Icon Library.</desc>
                          <path data-name="layer2" fill="none" stroke="#101010" stroke-linecap="round" stroke-linejoin="round" d="M28 38h-8V26l4-4 4 4v12zm-4-16v-6M12 56v4m40-4v4" style="stroke:var(--layer1, #101010)"></path>
                          <rect data-name="layer1" x="2" y="16" width="60" height="40" rx="3" ry="3" fill="none" stroke="#101010" stroke-linecap="round" stroke-linejoin="round" style="stroke:var(--layer1, #101010)"></rect>
                          <path data-name="layer1" d="M24 16v-5a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v5m-28 0v40m40-40v40" fill="none" stroke="#101010" stroke-linecap="round" stroke-linejoin="round" style="stroke:var(--layer1, #101010)"></path>
                        </svg></use>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5>مدة الرحلة</h5>
                        <div class="badge badge-light"><%= @trip.duration %> - أيام</div>
                      </div></a><a href="#" class="media text-reset text-decoration-none hover-animate icon-header">
                      <div class="icon-rounded bg-white opacity-7 mr-4">
                        <svg class="svg-icon text-dark w-2rem h-2rem">
                          <use xlink:href="#image-gallery-1"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="image-gallery-1">
                          <title>Image Gallery</title>
                          <desc>A line styled icon from Orion Icon Library.</desc>
                          <path data-name="layer3" fill="none" stroke="#101010" stroke-miterlimit="10" d="M10 54H2V2h52v8" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                          <path data-name="layer1" fill="none" stroke="#101010" stroke-miterlimit="10" d="M10 10h52v52H10z" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                          <circle data-name="layer2" cx="22" cy="22" r="4" fill="none" stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer2, #101010)"></circle>
                          <path data-name="layer2" d="M16 50c0-2.8 2.6-16 9.3-16s6.1 6 8.7 6 2.6-16 10-16 12 23.8 12 26" fill="none" stroke="#101010" stroke-miterlimit="10" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                          <path data-name="layer1" fill="none" stroke="#101010" stroke-miterlimit="10" d="M10 50h52" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer2, #101010)"></path>
                        </svg> </use>
                        </svg>
                      </div>
                      <div class="media-body">
                        <h5>نوع الرحلة</h5>
                        <div class="badge badge-light"><%= @trip.trip_type %></div>
                      </div></a>
                </div>
            
            </div>
            
</header>


<!-- END the HEADER -->
</div>

  


<!-- start over view trip -->

  <nav class="sub-nav ">
   <div class="container">
        <div class="detalis-trip">
            <i class="sub-nav-icon fas fa-plane-departure">  </i>
            <strong>بداية الرحـلة</strong>
            <span><%= @trip.start_date %></span>
        </div>

        <div class="detalis-trip"> 
            <i class="sub-nav-icon fas fa-plane-arrival ">  </i>
            <strong>نهاية الرحـلة</strong>
            <span><%= @trip.end_date %></span>
        </div>


        <div class="detalis-trip">
            <i class="sub-nav-icon fas fa-globe-americas">  </i>
            <strong>الدولة</strong>
            <span><%= @trip.country %></span>
        </div>

        <div class="detalis-trip">
            <i class="sub-nav-icon fas fa-map-marked">  </i>
            <strong>المـكـان</strong>
             <span><%= @trip.destination %> </span>
        </div>

       
        <div class="detalis-trip">
            <i class="sub-nav-icon  fas fa-dumbbell" >  </i>
              <strong>المسـتوى</strong>
               <span><%= @trip.level %> </span>
        </div>

        <div class="detalis-trip">
            <i class="sub-nav-icon  fas fa-users ">  </i> 
            <strong>المجموعة</strong>
            <span> <%= @trip.group_size_start %>  - <%= @trip.group_size_end %> </span>
        </div>

          <div class="detalis-trip">
            <i class="sub-nav-icon  fas fa-hourglass-end" >  </i>
             <strong>انتـهاء الحجز</strong>
              <span><%= @trip.deadline %>  </span>
        </div>


   </div>
  </nav>

<!-- end over view trip -->

<!-- start the section-1 -->
<div class="container">
  


    <%#show the background image of guide%>
    <% if @trip.asset.attached?%>
      <p>
        
        <%# image_tag url_for(@trip.asset) %>
      </p>
    <% end%>




    <hr>
    <% if @trip.assets.attached?%>
      
    <p>
      <%#show the images of trip%>
      <% @trip.assets.each do |image| %>
        <span>
          <%# image_tag image %>
        </span>
      <% end%>
    </p>
    <% end%>


<!--  <div class="trip-content">
  <div id="homepage_products">
  <div class="row">
  <div class="col">
  <a href="/generate" class="homepage_products_item">
  <div>
  <strong>Description</strong>
  <div><%= @trip.description %></div>
  </div>
  </a>
  </div>
  <div class="col">
  <a href="https://apps.apple.com/app/coolors/id956480678" class="homepage_products_item" target="_blank" rel="noopener noreferrer">
  <div>
  <i class="icon icon-large-apple"></i>
  <strong>Guide</strong>
  <div><%= @trip.guide.first_name %></div>
  </div>
  </a>
  </div>
  <div class="col">
  <a href="https://creative.adobe.com/addons/products/12124#.V6nhWJOLRE4" class="homepage_products_item adobe-btn adobe-btn" target="_blank" rel="noopener noreferrer">
  <div>
  <i class="icon icon-large-adobe"></i>
  <strong>Region</strong>
  <div> write region </div>
  </div>
  </a>
  </div>
  </div> 
  -->

  <section class="section" id="next-section">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-lg-6 mb-4 aos-init aos-animate" data-aos="fade-up">
  <p><img src="https://colorlib.com/preview/theme/hepta/images/img_1_long.jpg" alt="Image" class="img-fluid trip-img"></p>
  </div>
  <div class="col-lg-6 pl-lg-5 aos-init aos-animate" data-aos="fade-up">
  <h2 class="mb-4"><%= @trip.title %></h2>
  <p> <%= @trip.description%></p>
  <p class="pt-4">
  <a href="https://vimeo.com/channels/staffpicks/93951774" data-fancybox="" class="btn-play d-flex">
  <span class="icon align-self-center mr-3"><span class="fa fa-play"></span></span>
  <span class="text align-self-center">Watch The Video</span>
  </a>
  </p>
  </div>
  </div>
  </div>
  </section>
</p>
<section class="section blog-post-entry bg-light slant-top">
<div class="container">
<div class="row justify-content-center text-center mb-5">
<div class="col-md-8 primary-bg-text">
<h2 class="heading aos-init aos-animate" data-aos="fade-up">Recent Blog Post</h2>
<p class="lead aos-init aos-animate" data-aos="fade-up">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-6 col-12 post aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
<div class="media media-custom d-block mb-4">
<a href="#" class="mb-4 d-block"><img src="" alt="Image placeholder" class="img-fluid"></a>
<div class="media-body">
<span class="meta-post">February 26, 2018</span>
<h2 class="mt-0 mb-3"><a href="#">45 Best Places To Unwind</a></h2>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-12 post aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
<div class="media media-custom d-block mb-4">
<a href="#" class="mb-4 d-block"><img src="" alt="Image placeholder" class="img-fluid"></a>
<div class="media-body">
<span class="meta-post">February 26, 2018</span>
<h2 class="mt-0 mb-3"><a href="#">45 Best Places To Unwind</a></h2>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 col-sm-12 col-12 post aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
<div class="media media-custom d-block mb-4">
<a href="#" class="mb-4 d-block"><img src="" alt="Image placeholder" class="img-fluid"></a>
<div class="media-body">
<span class="meta-post">February 26, 2018</span>
<h2 class="mt-0 mb-3"><a href="#">45 Best Places To Unwind</a></h2>
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
</div>
</div>
</div>
</div>
</div>
</section>
</p>
</div>
    <%= link_to 'Edit', edit_trip_path(@trip) %> |
    <%= link_to 'Back', trips_path %>

    
</div>
<!-- END the section-1 -->









<!-- END SHOW TRIP -->
</div>



<!-- START PART OF BOOKING -->
<div class="show-footer">
  <div id="shapely_home_cfa-2" class="widget ">
     <section class="cfa-section bg-section">
      <div class="container">
        <div class="row">
        <div class="col-sm-12 text-center p0">
        <div class="overflow-hidden">
        <div class="col-sm-9">
        <h3 class="cfa-text"> مهتـم تنـضم معـنـا بالـرحـلـة !!</h3>
        </div>
          <div class="col-sm-3 btn ">
            <a href="#" class="btn-trip"><span class="gradient"></span>  أحـجـز الأن</a>
          </div>
        </div>
        </div>
        </div>

        </div>

    </section>
  </div>

</div>
<!-- END PART OF BOOKING -->



<!-- END of TRIP-SHOW PAGE -->


<!-- FOOTER HERE -->
<footer class="site-footer" role="contentinfo">
      <div class="container">
      <div class="row mb-5">
      <div class="col-md-4 mb-5">
      <h3>About The Hexa Template</h3>
      <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.</p>
      <ul class="list-unstyled footer-link d-flex footer-social">
      <li><a href="#" class="p-2"><span class="fab fa-twitter"></span></a></li>
      <li><a href="#" class="p-2"><span class="fab fa-facebook"></span></a></li>
      <li><a href="#" class="p-2"><span class="fab fa-linkedin"></span></a></li>
      <li><a href="https://www.instagram.com/pangaeaclub/?hl=en" class="p-2"><span class="fab fa-instagram"></span></a></li>
      </ul>
      </div>
      <div class="col-md-5 mb-5 pl-md-5">
      <h3>Contact Info</h3>
      <ul class="list-unstyled footer-link">
      <li class="d-block">
      <span class="b-block">Address:</span>
      <span class="text-white">34 Street, Riyadh, Saudi Arabia</span></li>
      <li class="d-block"><span class="b-block">Telephone:</span><span class="text-white">00966552713769</span></li>
      <li class="d-block"><span class="b-block">Email:</span><span class="text-white">info@pangaeaclub.com</span></li>
      </ul>
      </div>
      <div class="col-md-3 mb-5">
      <h3>Quick Links</h3>
      <ul class="list-unstyled footer-link">
      <li><a href="#">About</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Disclaimers</a></li>
      <li><a href="#">Contact</a></li>
      </ul>
      </div>
      <div class="col-md-3">
      </div>
      </div>
      <div class="row">
      <div class="col-12 text-md-center text-left">
      <p>
      Copyright ©
      <!-- <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>-->
      
                 All rights reserved |  made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="https://flexmethods.com/" target="_blank">FlexMethods</a>
      </p>
      </div>
      </div>
      </div>
</footer>
