<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item_included.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item_included.description %>
</p>

<%= link_to 'Edit', edit_item_included_path(@item_included) %> |
<%= link_to 'Back', item_includeds_path %>
