
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: "simple-form form-sign-up" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<!-- -->



<!-- -->
<div class="container-fluid ">
      <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
          <div class="w-100 py-5 px-md-5 px-xl-6 position-relative top-pad-zero">
          
            <div class="text-rtl">
            <div>
               <a href="/" class="close-absolute mr-md-5 mr-xl-6 pt-5 "> 
              <svg class="svg-icon w-3rem h-3rem"style="z-index:99">
                <use xlink:href="#close-1"> 
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="close-1">
                  <title>Close</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" d="M41.999 20.002l-22 22m22 0L20 20" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #ec4a7f)"></path>
                  </svg>
                </use>
              </svg></a>
            </div>
            <div style="position:relative;height:100px">
              <%= image_tag("pangaeaclub.png", :alt => "pangaeaclub.png" ,:style => "max-width: 10rem;margin-top: 45px;position: absolute;left: 0;top: -50px;", :class => "img-fluid ")  %>
              <!-- <img src="https://d19m59y37dris4.cloudfront.net/directory/1-4-1/img/logo-square.svg" alt="..." style="max-width: 4rem;" class="img-fluid mb-3">
              -->
                <h2 style="top: 65px;position: absolute;">الـتـسجـيل</h2>
            </div>
            </div>
            <form class="form-validate">
              <div class="form-group">
                <%# first_name %>
                <div class="field">
                <%= f.label :first_name,:class => "form-label label-sign-up" %><br />
                <%= f.text_field :first_name , autofocus: true , required: true ,:class => "form-control" %>
                </div>
              </div>
               <div class="form-group">
                <%# last_name %>
                <div class="field">
                <%= f.label :last_name,:class => "form-label label-sign-up"  %><br />
                <%= f.text_field :last_name, autofocus: true , required: true,:class => "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <div class="field">
                <%= f.label :email ,:class => "form-label label-sign-up"%><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Please enter your email", required: true ,:class => "form-control"%>
                </div>
              </div>
              <!-- password-->
              <div class="form-group mb-4">
                <div class="row">
                 
                      <div class="col">
                            <%= f.label :password , class: "form-label label-sign-up" %>
                      </div>

                </div>
                 <% if @minimum_password_length %>
                      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length , class: "form-label label-sign-up") %></em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "new-password", class: "form-control ",  placeholder: "Password" %>
              </div>
              <!-- re-password-->
              <div class="form-group mb-4">
                <div class="row">
                 
                      <div class="col">
                            <%= f.label :password_confirmation, class: "form-label label-sign-up" %><br />
                      </div>

                </div>
                     <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control ",  placeholder: "Password"%>
              </div>

               <div class="form-group">
                <%# phone %>
                <div class="field">
                <%= f.label :phone ,:class => "form-label label-sign-up"%><br />
                <%= f.text_field :phone, autofocus: true , required: true , :placeholder => "",:class => "form-control"%>
                </div>
              </div>


              <div class="form-group">
                <%# country %>
                <div class="field">
                <%= f.label :country ,:class => "form-label label-sign-up" %><br />
                  <div class="select-form-control">
                    <%= f.select :country,         ["Saudi Arabia","Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania","Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"]  %>
                  </div>
                <%# f.text_field :country, autofocus: true , required: true , :placeholder => "",:class => "form-control"%>
               
                </div>
              </div>


              
              <!-- <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                  <% if devise_mapping.rememberable? %>
             
                  <%= f.check_box :remember_me , :class => "custom-control-input"%>
                  <%= f.label :remember_me , :class => "custom-control-label text-muted" %>
                 
                  <% end %>
                
                </div>
              </div> -->
              <!-- Submit-->
              <div class="actions">
              <%= f.submit t('.sign_up'), :class => "btn btn-lg btn-block btn-primary btn-primary-login "  %>
              </div>
              <hr data-content="OR" class="my-3 hr-text letter-spacing-2">
             <!--   <button class="btn btn btn-outline-primary btn-block btn-social mb-3"><i class="fa-2x fa-facebook-f fab btn-social-icon"> </i>Connect <span class="d-none d-sm-inline">with Facebook</span></button>
              <button class="btn btn btn-outline-muted btn-block btn-social mb-3"><i class="fa-2x fa-google fab btn-social-icon"> </i>Connect <span class="d-none d-sm-inline">with Google</span></button>
               -->
              <hr class="my-4">
              <p class="text-center dir-ltr"><small class="text-muted text-center">Do you have an account? 
              <%= render "devise/shared/links" %>
               <!-- <a href="signup.html">Sign Up                </a> -->
              </small>
              </p>
            </form>
           
          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block" style="padding:0">
          <!-- Image-->
          <div style="background-image: url(https://d19m59y37dris4.cloudfront.net/directory/1-4-1/img/photo/photo-1497436072909-60f360e1d4b1.jpg);" class="bg-cover bg-cover-sign-up  h-100 mr-n3"></div>
        </div>
      </div>
</div>




<!-- END -->


 
<% end %>

