<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_not_included.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item_not_included.description %>
</p>

<%= link_to 'Edit', edit_item_not_included_path(@item_not_included) %> |
<%= link_to 'Back', item_not_includeds_path %>
