<div class="header-1" style="background:linear-gradient(to bottom, rgba(0,1,2,0.4) 0%, rgba(92, 77, 66, 0.8) 100%),  url('https://images.unsplash.com/photo-1510146758428-e5e4b17b8b6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');background-repeat: no-repeat; background-position: center;     background-size: cover !important; height:60vh;box-shadow: 3px 4px 5px #ccc;overflow: hidden;">
    <!-- START NAV -->
    <nav class="navbar navbar-expand-lg navbar-light  py-3 " id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger bg_pangaeaclub " href="/"></a><button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="navbar-collapse collapse flex-grow-zero" id="navbarResponsive" style="">
                        <ul class="navbar-nav ml-auto my-2 my-lg-0 full-ul">
                            <li class="nav-item"> <%= link_to "الرئسية", root_path, :class => "nav-link js-scroll-trigger" %></li>
                            <li class="nav-item"><%= link_to "تواصل معنا", '/about'		, :class => "nav-link js-scroll-trigger" %> </li>
                        <% if current_user.nil? %>
                            <li class="nav-item"><%= link_to "تسجيل", new_user_registration_path, :class => "nav-link js-scroll-trigger" %></li>
                            <li class="nav-item"><%= link_to "تسجيل الدخول", new_user_session_path, :class => "nav-link js-scroll-trigger" %></li>
                        <% else %>
                            <li class="nav-item"><%= link_to "تعديل الحساب", edit_user_registration_path		, :class => "nav-link js-scroll-trigger" %> </li>
                            <li class="nav-item"><%= link_to "رحـلاتـي", bookings_path		, :class => "nav-link js-scroll-trigger" %> </li>
                            <li class="nav-item"><%= link_to "خروج", destroy_user_session_path, :class => "nav-link js-scroll-trigger" , method: :delete%> </li>
                        <%# when the admin sign_in %>
                                <% if current_user.admin %>
                                    <li class="nav-item"><%= link_to "Dashboard", '/admin' , :class => "nav-link js-scroll-trigger" %></li>
                                <% end%>
                        <% end %>    
                        </ul>
                    </div>
                </div>
    </nav>



    <!-- END NAV -->


    <header class="masthead" style="padding-top:20px;">
                <div class="container h-100 header-flex">
                    <div class="row h-100 align-items-center justify-content-center text-center" style=" height: 40vh !important;align-content: center !important;">
                        <div class="col-lg-10 align-self-end">
                            <h1 class="text-uppercase text-black font-weight-bold" style="color:white"> قصـة pangaeaclub</h1>
                            <hr class="divider my-4">
                        </div>
                        <div class="col-lg-8 align-self-baseline">
                            <h3 class="text-white-75 font-weight-light mb-5" style="color:white">
                            تعرف علـينا أكـثـر
                        </h3>
                            
                        </div>
                    </div>
                
                
                </div>
        <!-- END the HEADER -->
    </header>

</div>

<!-- --->


<div style="margin:30px 0 0 0;text-align:right">



    <!-- About -->
    <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About Pangaeaclub</h2>
                    <h3 class="section-subheading text-muted">تـاريخ شـركتـنـا</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015-2016</h4>
                                <h4 class="subheading">تاريخ ميلاد Pangaeaclub</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">كانت بداية Pangaeaclub بسيطة جداُ. الفريق كان عبارة عن ثلاث اشخاص....!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://images.unsplash.com/photo-1522087066130-0c8c39bb0558?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt=""></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>
                                Of Our
                                <br>
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
    </section>


   
   
    <!-- Team -->
    <!-- START TEAM-->


    <section class="our-webcoderskull padding-lg py-6">
        <div class="container"> 
            <div class="team-title">
                <div class="title-card mb-5">
                <div class="col-md-8">
                <p class="subtitle  text-primary ">تـعرف عـلـى   </p>
                <h2 > فـريـقنـا</h2>
                </div>          
            </div>
            </div>
                <div class="row team-row" >
                <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3">
                    <div class="card border-0 hover-animate bg-transparent">
                    <div href="#" class="position-relative">
                    <%= image_tag("CEO_pangaclub.png", :alt => "rss feed" , :class => "card-img-top team-img") %>
                        <div class="team-circle bg-secondary-light"></div>
                    </div>
                    <div class="card-body team-body text-center">
                        <h6 class="card-title">سعود العـيدي</h6>
                        <p class="card-subtitle text-muted text-xs text-uppercase">CEO &amp; Founder    </p>
                    </div>
                    </div>
                </div>



                <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3">
                    <div class="card border-0 hover-animate bg-transparent">
                    <a href="#" class="position-relative">
                                <%= image_tag("CEO_pangaclub.png", :alt => "rss feed" , :class => "card-img-top team-img") %>

                        <div class="team-circle bg-secondary-light"></div></a>
                    <div class="card-body team-body text-center">
                        <h6 class="card-title">مشاعل </h6>
                        <p class="card-subtitle text-muted text-xs text-uppercase">Co-founder    </p>
                    </div>
                    </div>
                </div>
                <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3">
                    <div class="card border-0 hover-animate bg-transparent">
                    <a href="#" class="position-relative">
                    <%= image_tag("CEO_pangaclub.png", :alt => "rss feed" , :class => "card-img-top team-img") %>
                        <div class="team-circle bg-secondary-light"></div></a>
                    <div class="card-body team-body text-center">
                        <h6 class="card-title">عبدالله الفيصل</h6>
                        <p class="card-subtitle text-muted text-xs text-uppercase">CTO    </p>
                    </div>
                    </div>
                </div>
                <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3">
                    <div class="card border-0 hover-animate bg-transparent">
                    <a href="#" class="position-relative">
                    <%= image_tag("CEO_pangaclub.png", :alt => "rss feed" , :class => "card-img-top team-img") %>
                        <div class="team-circle bg-secondary-light"></div></a>
                    <div class="card-body team-body text-center">
                        <h6 class="card-title">ابراهـيم</h6>
                        <p class="card-subtitle text-muted text-xs text-uppercase">Community    </p>
                    </div> 
                    </div>
                </div>
                </div>
        </div>
    </section>





    <!-- END TEAM -->
        <!-- contact-us -->
    <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">نـسعـد بـتواصـلـكم مـعنـا</h3>
                </div>
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" id="name" type="text" placeholder="الأسـم  *" required="required" data-validation-required-message="Please enter your name." aria-invalid="false">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="email" type="email" placeholder="الأيمـيل *" required="required" data-validation-required-message="Please enter your email address." aria-invalid="false">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group mb-md-0">
                                <input class="form-control" id="phone" type="tel" placeholder="رقـم الجـوال *" required="required" data-validation-required-message="Please enter your phone number." aria-invalid="false">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <textarea class="form-control" id="message" placeholder=" استفساراتك *" required="required" data-validation-required-message="Please enter a message." aria-invalid="false"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div id="success"></div>
                        <button class="btn btn-lg " id="sendMessageButton" type="submit" style="background:#75cddc;color:#FFF;">أرسـال</button>
                    </div>
                </form>
            </div>
    </section>
 </div>




 <!-- END of HOME PAGE -->
<footer class="site-footer" role="contentinfo">
      <div class="container">
      <div class="row mb-5">
      <div class="col-md-4 mb-5">
      <h3>About The Hexa Template</h3>
      <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.</p>
      <ul class="list-unstyled footer-link d-flex footer-social">
      <li><a href="#" class="p-2"><span class="fab fa-twitter"></span></a></li>
      <li><a href="#" class="p-2"><span class="fab fa-facebook"></span></a></li>
      <li><a href="#" class="p-2"><span class="fab fa-linkedin"></span></a></li>
      <li><a href="https://www.instagram.com/pangaeaclub/?hl=en" class="p-2"><span class="fab fa-instagram"></span></a></li>
      </ul>
      </div>
      <div class="col-md-5 mb-5 pl-md-5">
      <h3>Contact Info</h3>
      <ul class="list-unstyled footer-link">
      <li class="d-block">
      <span class="b-block">Address:</span>
      <span class="text-white">34 Street, Riyadh, Saudi Arabia</span></li>
      <li class="d-block"><span class="b-block">Telephone:</span><span class="text-white">00966552713769</span></li>
      <li class="d-block"><span class="b-block">Email:</span><span class="text-white">info@pangaeaclub.com</span></li>
      </ul>
      </div>
      <div class="col-md-3 mb-5">
      <h3>Quick Links</h3>
      <ul class="list-unstyled footer-link">
      <li><a href="#">About</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Disclaimers</a></li>
      <li><a href="#">Contact</a></li>
      </ul>
      </div>
      <div class="col-md-3">
      </div>
      </div>
      <div class="row">
      <div class="col-12 text-md-center text-left">
      <p>
      Copyright ©
      <!-- <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>-->
      
                 All rights reserved |  made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="https://flexmethods.com/" target="_blank">FlexMethods</a>
      </p>
      </div>
      </div>
      </div>
</footer>