
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<!-- -->
<div class="container-fluid ">
      <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
          <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
          
            <div class="mb-5 text-rtl">
            <div>
               <a href="/" class="close-absolute mr-md-5 mr-xl-6 pt-5"> 
              <svg class="svg-icon w-3rem h-3rem">
                <use xlink:href="#close-1"> 
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" id="close-1">
                  <title>Close</title>
                  <desc>A line styled icon from Orion Icon Library.</desc>
                  <path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" d="M41.999 20.002l-22 22m22 0L20 20" stroke-linejoin="round" stroke-linecap="round" style="stroke:var(--layer1, #ec4a7f)"></path>
                  </svg>
                </use>
              </svg></a>
            </div>
            <div style="position:relative;height:100px">
              <%= image_tag("pangaeaclub.png", :alt => "pangaeaclub.png" ,:style => "max-width: 10rem;position: absolute;left: 0;top: -50px;", :class => "img-fluid mb-3")  %>
              <!-- <img src="https://d19m59y37dris4.cloudfront.net/directory/1-4-1/img/logo-square.svg" alt="..." style="max-width: 4rem;" class="img-fluid mb-3">
              -->
                <h2  style="top: 65px;position: absolute;">مرحبا بعودتك</h2>
            </div>
            </div>
            <form class="form-validate">
              <div class="form-group">
                <div class="field">
                <%= f.label :email ,:class => "form-label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Please enter your email",:class => "form-control" %>
                </div>
               <!--  <label for="loginUsername" class="form-label"> Email Address</label>
                <input name="loginUsername" id="loginUsername" type="email" placeholder="xxxx@gmail.com" autocomplete="off" required="" data-msg="Please enter your email" class="form-control">
                -->
              </div>
              <div class="form-group mb-4">
                <div class="row">
                  <div class="col">
                      <%= f.label :password, :class => "form-label" %>
                  </div>
                  <!-- <div class="col-auto"><a href="#" class="form-text small">Forgot password?</a></div> -->
                </div>
                <%= f.password_field :password, autocomplete: "current-password", :class => "form-control ", :placeholder => "Password" %>
              </div>
              <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                  <% if devise_mapping.rememberable? %>
             
                  <%= f.check_box :remember_me , :class => "custom-control-input"%>
                  <%= f.label :remember_me , :class => "custom-control-label text-muted" %>
                 
                  <% end %>
                
                </div>
              </div>
              <!-- Submit-->
              <div class="actions">
              <%= f.submit t('.sign_in'), :class => "btn btn-lg btn-block btn-primary btn-primary-login " %>
              </div>
              <hr data-content="OR" class="my-3 hr-text letter-spacing-2">
             <!--   <button class="btn btn btn-outline-primary btn-block btn-social mb-3"><i class="fa-2x fa-facebook-f fab btn-social-icon"> </i>Connect <span class="d-none d-sm-inline">with Facebook</span></button>
              <button class="btn btn btn-outline-muted btn-block btn-social mb-3"><i class="fa-2x fa-google fab btn-social-icon"> </i>Connect <span class="d-none d-sm-inline">with Google</span></button>
               -->
              <hr class="my-4">
              <p class="text-center dir-ltr"><small class="text-muted text-center">Don't have an account yet? 
              <%= render "devise/shared/links" %>
               <!-- <a href="signup.html">Sign Up                </a> -->
              </small>
              </p>
            </form>
           
          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block" style="padding:0">
          <!-- Image-->
          <div style="background-image: url(https://d19m59y37dris4.cloudfront.net/directory/1-4-1/img/photo/photo-1497436072909-60f360e1d4b1.jpg);" class="bg-cover bg-cover-sign-up h-100 mr-n3"></div>
        </div>
      </div>
</div>




<!-- END -->
<% end %>

