<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @guide.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guide.last_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @guide.country %>
</p>

<p>
  <strong>Hobby:</strong>
  <%= @guide.hobby %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @guide.instagram %>
</p>

<p>
  <strong>Description:</strong>
  <%= @guide.description %>
</p>


<%#show the profile image of guide%>
<% if @guide.asset.attached?%>
  <p>
    <strong>Profile image:</strong>
    <%= image_tag url_for(@guide.asset.variant(resize_to_limit: [100, 100])) %>
  </p>
<% end%>

<hr>
  <strong>Images:</strong>
<% if @guide.assets.attached?%>
  <%#show the images of guide%>
  <% @guide.assets.each do |image| %>
    <span>
      <%= image_tag image %>
    </span>
  <% end%>
<% end%>




<p>
  <strong>Position:</strong>
  <%= @guide.position %>
</p>

<%= link_to 'Edit', edit_guide_path(@guide) %> |
<%= link_to 'Back', guides_path %>
