<!DOCTYPE html>
<html dir="rtl">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
    />

    <title>PangaeaClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- bootstrap -->
    <%# stylesheet_link_tag  controller.controller_name , media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- import owl-carousel css -->
    <link href="https://fonts.googleapis.com/css2?family=Changa:wght@300;400&family=Lalezar&family=Lemonada:wght@300&display=swap" rel="stylesheet">   
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@700&family=Cairo:wght@700;900&family=Tajawal:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700;900&family=Tajawal:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" integrity="sha512-NVt7pmp5f+3eWRPO1h4A1gCf4opn4r5z2wS1mi7AaVcTzE9wDJ6RzMqSygjDzYHLp+mAJ2/qzXXDHar6IQwddQ==" crossorigin="anonymous" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175015797-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175015797-1');
    </script>
  </head>

  <body class="<%= controller.controller_name %>-<%= controller.action_name %>">
      <% unless flash.empty? %>
          <script type="text/javascript">
          <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
          toastr['<%= type %>']('<%= f[1] %>');
          <% end %>
          </script>
      <% end %>

        
    <%= yield %>
  <!-- END of HOME PAGE -->
<footer class="site-footer" role="contentinfo" style="text-align:center;    padding-bottom: 0 !important;">
      <div class="container">
      <div class="row mb-5">
      <div class="col-md-4 mb-5">
      <h3>عن الموقع</h3>
      <p class="mb-5">PangaeaClub شـركة متخصصة بالسياحة والسـفر </p>
      <ul class="list-unstyled footer-link d-flex footer-social">
      <li><a href="#" class="p-2"><span class="fab fa-twitter"></span></a></li>
      <li><a href="#" class="p-2"><span class="fab fa-facebook"></span></a></li>
      <li><a href="#" class="p-2"><span class="fab fa-linkedin"></span></a></li>
      <li><a href="https://www.instagram.com/pangaeaclub/?hl=en" class="p-2"><span class="fab fa-instagram"></span></a></li>
      </ul>
      </div>
      <div class="col-md-5 mb-5 pl-md-5">
      <h3>Contact Info</h3>
      <ul class="list-unstyled footer-link">
      <li class="d-block">
      <span class="b-block">Address:</span>
      <span class="text-white">34 Street, Riyadh, Saudi Arabia</span></li>
      <li class="d-block"><span class="b-block">Telephone:</span><span class="text-white">00966552713769</span></li>
      <li class="d-block"><span class="b-block">Email:</span><span class="text-white">info@pangaeaclub.com</span></li>
      </ul>
      </div>
      <div class="col-md-3 mb-5">
      <h3>Quick Links</h3>
      <ul class="list-unstyled footer-link">
      <li><a href="/about">About</a></li>
      <li><a href="/about">Terms of Use</a></li>
      <li><a href="/about">Contact</a></li>
      </ul>
      </div>
      <div class="col-md-3 mb-5">
      </div>
      </div>
      <div class="row">
      <div class="col-12 text-md-center text-left">
      <p style="font-size: 0.9em;">
      Copyright ©
      <!-- <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>-->
      
                 All rights reserved |  made with <i class="fas fa-heart" aria-hidden="true"></i> by <a href="https://flexmethods.com/" target="_blank">FlexMethods</a>
      </p>
      </div>
      </div>
      </div>
</footer>
 
 
 
 
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha512-7KzSt4AJ9bLchXCRllnyYUDjfhO2IFEWSa+a5/3kPGQbr+swRTorHQfyADAhSlVHCs1bpFdB1447ZRzFyiiXsg==" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 

</body>
</html>
